<mat-toolbar color="primary">
    <span class="fill-remaining-space">IPL Points Calculator</span>
  </mat-toolbar>
<div >
  <span>To check latest scores please visit :</span>
<a target="_blank" href="https://www.espncricinfo.com/scores/series/8048/season/2020/indian-premier-league?view=results">CricInfo</a>
</div>
<div *ngIf='points'>
    <h2 class="result">Congratulations, Points gained from this match are {{points}}</h2>
</div>
<button mat-raised-button color="primary" [routerLink]="'/dashboard'" class="button" >Home</button>


<div class="container" *ngIf="!post" novalidate> 
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
      <mat-form-field class="example-full-width">
        <input type="text"
               placeholder="Select Team"
               aria-label="Number"
               matInput
               [formControl]="team"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)" >
          <mat-option *ngFor="let option of filteredTeamOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width">
        <input type="text"
               placeholder="Select Player"
               aria-label="Number"
               matInput
               [formControl]="playerName"
               [matAutocomplete]="autoPlayer">
        <mat-autocomplete #autoPlayer="matAutocomplete" >
          <mat-option *ngFor="let playeroption of filteredPlayerOptions | async" [value]="playeroption">
            {{playeroption}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    <br/>
          <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Runs" formControlName="run">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Dot balls" formControlName="dotball">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Wickets" formControlName="wicket">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Catches" formControlName="catch">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Stumpings" formControlName="stumping">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Maiden Overs" formControlName="maiden">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Hattrick" formControlName="hattrick">
          </mat-form-field>
          <p>Bonus :</p>
          <mat-radio-group aria-label="Select an option" formControlName="capBonus">
            <mat-radio-button value="1">Captain</mat-radio-button>
            <mat-radio-button value="2">Vice Captain</mat-radio-button>
            <mat-radio-button value="3">None</mat-radio-button>

          </mat-radio-group>
          <p>MOM</p>
          <mat-radio-group aria-label="Select an option" formControlName="mom">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
          </mat-radio-group>
          <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" >Calculate</button>
          </div>
    </form>
</div>
<div *ngIf='points'>
    <p> Score is {{points}}</p>
</div>

